.category-selection {
  position: relative; /* Important for positioning child elements absolutely within this container */
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto; /* Adjusted width */
  height: auto; /* Adjusted height */
  margin: auto; /* Centers it horizontally */
  margin-top: 200px; /* Adds space from the top of the page */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .category-buttons {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 10px; /* Space between buttons */
    justify-content: center; /* Optional: center the buttons within the container */
  }

  .category-buttons button {
    padding: 16px 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .category-buttons button:hover {
    background-color: #0056b3;
  }

  .category-selection h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }

  .question-display{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  height: auto;
  margin: auto;
  margin-top: 250px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .back-to-menu{
    position: absolute; /* Absolute positioning */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    padding: 10px 15px;
    background-color: #007bff; /* Tomato color */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  .back-to-menu:hover{
    background-color: #0056b3;
  }

  .start-menu-button{
    position: absolute; /* Absolute positioning */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    padding: 10px 15px;
    background-color: #007bff; /* Tomato color */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  .start-menu-button:hover{
    background-color: #0056b3;
  }

  .back-to-categories{
    position: absolute; /* Absolute positioning */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    padding: 10px 15px;
    background-color: #007bff; /* Tomato color */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  .back-to-categories:hover{
    background-color: #0056b3;
  }

  .answer-container{
    display: flex;              /* Use Flexbox for layout */
    justify-content: center;     /* Center the buttons horizontally */
    gap: 5px;                   /* Space between the buttons */
    flex-wrap: wrap;             /* Allows buttons to wrap to the next line if the container is too narrow */
  }

  .answer-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px; /* Adds space between buttons */
  }

  .answer-buttons button:hover {
    background-color: #0056b3;
  }

  .quiz-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto; /* Adjusted width */
    height: auto; /* Adjusted height */
    margin: auto; /* Centers it horizontally */
    margin-top: 250px; /* Adds space from the top of the page */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .correct-answer {
    background-color: #d4edda; /* Light green */
    border: 1px solid #c3e6cb; /* Slightly darker green for the border */
  }

  .incorrect-answer {
    background-color: #e08e95; /* Light red */
    border: 1px solid #e85665; /* Slightly darker red for the border */
  }

  .quiz-result-button{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px; /* Adds space between buttons */
  }

  .quiz-result-button button:hover {
    background-color: #0056b3;
  }

  .startscreen-display{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto; /* Adjusted width */
  height: auto; /* Adjusted height */
  margin: auto; /* Centers it horizontally */
  margin-top: 250px; /* Adds space from the top of the page */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .start-button{
    display: flex;
    flex-direction: column;
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .review-answers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    margin-top: 20px;
    padding: 20px;
    background-color: #e7e4e4;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    gap: 10px; /* Adjusts space between items inside the flex container */
  }

  .review-answers ul{
  padding: 0; /* Remove default ul padding */
  list-style: none; /* Remove bullet points */
  width: 100%; /* Full width */
  }

  .review-answers li {
    margin-bottom: 10px; /* Control space between answer items */
    padding: 10px;
  }

  .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    text-align: center;
  }

  .score-ring-green {
    border: 5px solid #28a745;
    background-color: #28a74648;
  }

  .score-ring-orange {
    border: 5px solid #ff9307;
    background-color: #ff930752;
  }

  .score-ring-red {
    border: 5px solid #dc3545;
    background-color: #dc35464b;
  }

  .get-motivational-message{
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
  }

  .timer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
    border: 5px solid #1307ffbc;
    background-color: #5c6ae652;
  }

.no-wrong-answers{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  margin-top: 20px;
  padding: 20px;
  background-color: #e7e4e4;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.options-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto; /* Adjusted width */
  height: auto; /* Adjusted height */
  margin: auto; /* Centers it horizontally */
  margin-top: 250px; /* Adds space from the top of the page */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
